# Located here https://console.circle.com/wallets/user/configurator
NEXT_PUBLIC_APP_ID="ec89635a-c240-5f87-b741-ce29acba407f"
# hosted backend url
NEXT_PUBLIC_BASE_URL="http://localhost:8080"

# NEXT_PUBLIC_API_KEY=TEST_API_KEY:[API_KEY goes here]

# canonical hosted url
NEXTAUTH_URL="http://localhost:3000"

NODE_ENV=development

NEXTAUTH_SECRET="7QBo5ESvW1DQwW4PReYhwLwtHmtTOrPVuITQJGqwHf0="